In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

%matplotlib inline
import seaborn as sns
from matplotlib import pyplot as plt

### Загрузка данных

In [2]:
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")
submission = pd.read_csv("submission.csv")

In [3]:
data_train.shape, data_test.shape

((14803, 17), (6344, 18))

In [4]:
data_train.head(10)

,Содержание,Сервис,Приоритет,Статус,Функциональная группа,Крайний срок,Дата обращения,Тип обращения на момент подачи,Тип обращения итоговый,Решение,Тип переклассификации,Дата восстановления,Дата закрытия обращения,Критичность,Влияние,Система,Место
0,Тест,АРМ,3-Низкий,Отменен,ФГ1,2018-01-24 07:42,2018-01-19 09:27,Запрос,Запрос,Тест,0,NaN,2018-01-19 09:43,4-Нет,3-Малое,База,К
1,Тестовое обращение,АРМ,3-Низкий,Отменен,ФГ1,2018-01-24 10:51,2018-01-19 09:36,Запрос,Запрос,Тест,0,NaN,2018-01-19 09:41,4-Нет,3-Малое,База,К
2,Выполнена разблокировка у/з REGION\*****,Сервис7,2-Средний,Закрыт,ФГ8,2018-01-31 07:51,2018-01-25 22:47,Запрос,Запрос,Выполнена разблокировка у/з Ne_bosS\*********\...,0,2018-01-25 22:47,2018-02-02 07:52,1-Особая,3-Малое,Система7,Место190
3,.Не включается ПК,АРМ,3-Низкий,Закрыт,ФГ390,2018-01-28 05:50,2018-01-25 23:13,Инцидент,Инцидент,Выход из стоя БП. Заменён.,0,2018-01-25 23:55,2018-01-26 00:00,4-Нет,3-Малое,База,Место177
4,"Заявка № ***********, *******************",АРМ,3-Низкий,Закрыт,ФГ303,2018-02-03 02:51,2018-01-25 23:39,Запрос,Запрос,Работы по обращению выполнены,0,2018-01-28 02:54,2018-02-04 07:53,4-Нет,4-Нет влияния,База,Место216
5,"Заявка № ***********, *******************",АРМ,3-Низкий,Закрыт,ФГ372,2018-01-31 07:51,2018-01-25 23:39,Запрос,Запрос,Доступ заблокирован,0,2018-01-26 03:19,2018-02-02 07:52,4-Нет,4-Нет влияния,Система62,Место216
6,"Заявка № ***********, *******************",АРМ,3-Низкий,Закрыт,ФГ303,2018-02-01 02:51,2018-01-25 23:39,Запрос,Запрос,Работы по обращению выполнены,0,2018-01-26 03:11,2018-02-02 07:52,4-Нет,4-Нет влияния,База,Место216
7,"Заявка № ***********, *******************",АРМ,3-Низкий,Закрыт,ФГ303,2018-02-01 02:51,2018-01-25 23:39,Запрос,Запрос,Работы по обращению выполнены,0,2018-01-26 03:15,2018-02-02 07:52,4-Нет,4-Нет влияния,База,Место216
8,"Заявка № ***********, *******************",АРМ,3-Низкий,Закрыт,ФГ372,2018-01-31 07:51,2018-01-25 23:39,Запрос,Запрос,Доступ заблокирован,0,2018-01-26 03:20,2018-02-02 07:52,4-Нет,4-Нет влияния,Система62,Место216
9,"Заявка № ***********, *******************",Сервис21,2-Средний,Закрыт,ФГ303,2018-02-01 02:51,2018-01-25 23:39,Запрос,Запрос,Работы по обращению выполнены,0,2018-01-26 04:41,2018-02-02 07:52,1-Особая,4-Нет влияния,Система21,Место216

In [5]:
data_test.head(10)

,id,Содержание,Сервис,Приоритет,Статус,Функциональная группа,Крайний срок,Дата обращения,Тип обращения на момент подачи,Тип обращения итоговый,Решение,Тип переклассификации,Дата восстановления,Дата закрытия обращения,Критичность,Влияние,Система,Место
0,14803,Заявка на предоставление и отзыв прав доступа ...,Сервис41,3-Низкий,Закрыт,ФГ13,2018-02-22 07:51,2018-02-16 13:11,Запрос,NaN,Работы по обращению выполнены,NaN,2018-02-18 04:32,2018-02-25 07:56,4-Нет,4-Нет влияния,Система43,Место38
1,14804,Транспортный шлюз,Сервис61,2-Средний,Закрыт,ФГ1,2018-02-21 14:36,2018-02-16 13:13,Запрос,NaN,проинф у.о.,NaN,2018-02-16 17:55,2018-02-24 07:54,1-Особая,3-Малое,Система61,К
2,14805,Заявка на предоставление и отзыв прав доступа ...,Сервис22,3-Низкий,Закрыт,ФГ13,2018-03-31 06:36,2018-02-16 13:13,Запрос,NaN,Работы по обращению выполнены,NaN,2018-03-15 16:09,2018-03-23 07:56,2-Повышенная,4-Нет влияния,Система13,Место25
3,14806,Заявка на предоставление и отзыв прав доступа ...,Сервис91,3-Низкий,Отменен,ФГ13,2018-02-21 14:29,2018-02-16 13:14,Запрос,NaN,Запрос отменён пользователем из портала самооб...,NaN,2018-02-16 13:15,NaN,2-Повышенная,4-Нет влияния,Система363,Место1
4,14807,Заявка на предоставление и отзыв прав доступа ...,Сервис22,3-Низкий,Закрыт,ФГ13,2018-03-30 09:36,2018-02-16 13:14,Запрос,NaN,Работы по обращению выполнены,NaN,2018-03-15 16:09,2018-03-23 07:56,2-Повышенная,4-Нет влияния,Система13,Место25
5,14808,Заявка на предоставление и отзыв прав доступа ...,Сервис22,3-Низкий,Закрыт,ФГ13,2018-02-24 07:51,2018-02-16 13:15,Запрос,NaN,Работы по обращению выполнены,NaN,2018-02-18 11:02,2018-02-25 12:20,2-Повышенная,4-Нет влияния,Система13,Место25
6,14809,Заявка на предоставление и отзыв прав доступа ...,Сервис22,3-Низкий,Закрыт,ФГ13,2018-02-24 07:51,2018-02-16 13:15,Запрос,NaN,Работы по обращению выполнены,NaN,2018-02-21 15:07,2018-03-08 07:28,2-Повышенная,4-Нет влияния,Система13,Место25
7,14810,Заявка на предоставление и отзыв прав доступа ...,Сервис22,3-Низкий,Закрыт,ФГ13,2018-02-24 07:51,2018-02-16 13:15,Запрос,NaN,Работы по обращению выполнены,NaN,2018-02-18 06:13,2018-02-25 07:56,2-Повышенная,4-Нет влияния,Система13,Место25
8,14811,Заявка на предоставление и отзыв прав доступа ...,Сервис22,3-Низкий,Закрыт,ФГ13,2018-02-24 07:51,2018-02-16 13:15,Запрос,NaN,Работы по обращению выполнены,NaN,2018-02-18 06:13,2018-02-25 07:56,2-Повышенная,4-Нет влияния,Система13,Место25
9,14812,Заявка на предоставление и отзыв прав доступа ...,Сервис22,3-Низкий,Закрыт,ФГ13,2018-04-14 06:36,2018-02-16 13:16,Запрос,NaN,Работы по обращению выполнены,NaN,2018-03-22 11:03,2018-03-29 12:21,2-Повышенная,4-Нет влияния,Система13,Место25

In [6]:
submission.head()

      id  Тип переклассификации  Тип обращения итоговый
0  14803                    NaN                     NaN
1  14804                    NaN                     NaN
2  14805                    NaN                     NaN
3  14806                    NaN                     NaN
4  14807                    NaN                     NaN

In [7]:
data_train.dtypes

Содержание                        object
Сервис                            object
Приоритет                         object
Статус                            object
Функциональная группа             object
Крайний срок                      object
Дата обращения                    object
Тип обращения на момент подачи    object
Тип обращения итоговый            object
Решение                           object
Тип переклассификации              int64
Дата восстановления               object
Дата закрытия обращения           object
Критичность                       object
Влияние                           object
Система                           object
Место                             object
dtype: object

In [8]:
data_train.columns

Index(['Содержание', 'Сервис', 'Приоритет', 'Статус', 'Функциональная группа',
       'Крайний срок', 'Дата обращения', 'Тип обращения на момент подачи',
       'Тип обращения итоговый', 'Решение             ',
       'Тип переклассификации', 'Дата восстановления',
       'Дата закрытия обращения', 'Критичность', 'Влияние', 'Система',
       'Место'],
      dtype='object')

# Разведочный анализ данных

In [9]:
print("Количество уникальных в трейне: ", data_train['Содержание'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Содержание'].value_counts().shape[0])
content = pd.DataFrame({"Train": data_train['Содержание'].value_counts().head(30), "Test": data_test['Содержание'].value_counts().head(30)})
content

Количество уникальных в трейне:  1465
Количество уникальных в тесте:  738

                                                     Train    Test
 разблокировка учетной записи пользователя вСер...     NaN    57.0
"Письмо Random62543" Подключение пользователя к...     NaN    57.0
<Бот-наблюдения> Система23. Ухудшение статуса с...   143.0     NaN
<Бот-наблюдения> Система345 Ухудшение статуса с...     NaN    56.0
[ФЗ_АД_Cоздание пользователя Система52]               99.0     NaN
Включение учётной записи                               NaN    41.0
Выполнена разблокировка у/з REGION\*****             137.0    40.0
Г Заявка на предоставление и отзыв прав доступа...     NaN    40.0
Замена/добавление Сертификат на сервере Система13    241.0    86.0
Запрос на организацию БРМ                            152.0    79.0
Заявка                                               105.0     NaN
Заявка на предоставление доступа работникамДепа...   115.0     NaN
Заявка на предоставление и отзыв прав доступа к...  3109.0  1465.0
Заявка на проведение выдачи/обновления ключевой...     NaN    44.0
Заявка № ***********, *******************            897.0   341.0
Заявки                                               107.0     NaN
Изменение прав в Система500                            NaN    36.0
Изменение состава группы                             123.0    49.0
Контроль ПУ. Заявка на доступ к портам.              571.0   198.0
Копировально-множительные работы                       NaN    34.0
Настройка ПК                                           NaN    46.0
Настройка Система8 (для учёта выполненных работ)     157.0     NaN
Настройка ЭП в Сервис22                              404.0   140.0
Настройка клиентских рабочих мест Система46          107.0     NaN
Настройка/Консультация /Техническое обслуживание     631.0   289.0
Обновление версий СЗ от ВВК                            NaN    78.0
Письмо Random34658 Подключение пользователя к с...    97.0    59.0
Письмо Random49657 - Заявка на предоставление д...   113.0     NaN
Письмо Random95124 - истема8 – настройка доступ...     NaN    90.0
Предоставление техники для БРМ                       128.0    64.0
Разблокировать УЗ NE_BOSS\******                       NaN    34.0
Разблокировать учетную запись пользователя Сист...   132.0    60.0
Разблокировка учетной записи пользователя в Сис...     NaN    63.0
Разблокировка учётной записи                         101.0     NaN
Сервисы SNS#1 - Расширенные сервисы                  121.0    60.0
Система20                                            141.0   289.0
Система26                                            141.0    98.0
Создание Запрос для пользователей                    192.0     NaN
Создание запроса                                     112.0    46.0
Создание новой учетной записи                        131.0     NaN
Транспортный шлюз                                    261.0   193.0
Установка обновления                                 135.0     NaN
запросы на выполнение работ                          135.0     NaN

In [10]:
print("Количество уникальных в трейне: ", data_train['Сервис'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Сервис'].value_counts().shape[0])
service = pd.DataFrame({"Train": data_train['Сервис'].value_counts().head(30), "Test": data_test['Сервис'].value_counts().head(30)})
service

Количество уникальных в трейне:  153
Количество уникальных в тесте:  120

            Train    Test
АРМ        3434.0  1073.0
Сервис107     NaN    31.0
Сервис11    419.0   188.0
Сервис12    241.0    55.0
Сервис121     NaN    20.0
Сервис122    48.0     NaN
Сервис13    838.0   311.0
Сервис132    63.0     NaN
Сервис158   102.0    89.0
Сервис171     NaN    22.0
Сервис18    786.0   399.0
Сервис19    113.0     NaN
Сервис2     808.0   399.0
Сервис20    143.0   291.0
Сервис21    394.0   153.0
Сервис22   1567.0   916.0
Сервис23    233.0    68.0
Сервис25    201.0   179.0
Сервис26    277.0   157.0
Сервис31     55.0    35.0
Сервис36     54.0     NaN
Сервис39     82.0     NaN
Сервис41    145.0    55.0
Сервис42    115.0    31.0
Сервис43     51.0    30.0
Сервис52    135.0    37.0
Сервис58     73.0     NaN
Сервис61    263.0   192.0
Сервис64     49.0     NaN
Сервис7    1746.0   678.0
Сервис71    531.0   136.0
Сервис73    399.0   131.0
Сервис77      NaN    21.0
Сервис8     411.0   125.0
Сервис91      NaN    36.0
Сервис93      NaN    22.0
Сервис95      NaN    47.0

In [11]:
print("Количество уникальных в трейне: ", data_train['Приоритет'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Приоритет'].value_counts().shape[0])
priority = pd.DataFrame({"Train": data_train['Приоритет'].value_counts(), "Test": data_test['Приоритет'].value_counts()})
priority

Количество уникальных в трейне:  4
Количество уникальных в тесте:  3

               Train    Test
0-Критический      3     NaN
1-Высокий         12     4.0
2-Средний       4694  1805.0
3-Низкий       10094  4535.0

In [12]:
print("Количество уникальных в трейне: ", data_train['Статус'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Статус'].value_counts().shape[0])
status = pd.DataFrame({"Train": data_train['Статус'].value_counts(), "Test": data_test['Статус'].value_counts()})
status

Количество уникальных в трейне:  2
Количество уникальных в тесте:  2

         Train  Test
Закрыт   14369  6189
Отменен    434   155

In [13]:
print("Количество уникальных в трейне: ", data_train['Функциональная группа'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Функциональная группа'].value_counts().shape[0])
functional_group = pd.DataFrame({"Train": data_train['Функциональная группа'].value_counts().head(30), "Test": data_test['Функциональная группа'].value_counts().head(30)})
functional_group

Количество уникальных в трейне:  555
Количество уникальных в тесте:  361

        Train    Test
ФГ1     371.0   234.0
ФГ108     NaN    37.0
ФГ116   230.0    38.0
ФГ12   1122.0   400.0
ФГ128    86.0    44.0
ФГ129   403.0    28.0
ФГ13   3320.0  1714.0
ФГ130   178.0     NaN
ФГ135    84.0     NaN
ФГ137   407.0   140.0
ФГ154   139.0    76.0
ФГ155   101.0     NaN
ФГ18    787.0   345.0
ФГ186     NaN    82.0
ФГ189   151.0     NaN
ФГ19    318.0   361.0
ФГ204     NaN    41.0
ФГ221     NaN    27.0
ФГ222    76.0     NaN
ФГ243     NaN    25.0
ФГ29     98.0    78.0
ФГ295    93.0     NaN
ФГ303   103.0    46.0
ФГ316   140.0     NaN
ФГ334     NaN    36.0
ФГ335    90.0    39.0
ФГ345    80.0     NaN
ФГ368   119.0     NaN
ФГ371     NaN    32.0
ФГ381     NaN    51.0
ФГ4      91.0    34.0
ФГ42      NaN    35.0
ФГ50     78.0    37.0
ФГ55      NaN    27.0
ФГ57    105.0    83.0
ФГ58     90.0     NaN
ФГ62    147.0    28.0
ФГ76     84.0   118.0
ФГ79    284.0   122.0
ФГ8    1103.0   500.0

In [14]:
print("Количество уникальных в трейне: ", data_train['Крайний срок'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Крайний срок'].value_counts().shape[0])
deadline = pd.DataFrame({"Train": data_train['Крайний срок'].value_counts().head(30), "Test": data_test['Крайний срок'].value_counts().head(30)})
deadline

Количество уникальных в трейне:  5666
Количество уникальных в тесте:  2699

                  Train   Test
2018-01-31 07:51  108.0    NaN
2018-02-01 06:36   23.0    NaN
2018-02-01 07:51  116.0    NaN
2018-02-02 06:36   62.0    NaN
2018-02-02 07:51  220.0    NaN
2018-02-02 11:06   23.0    NaN
2018-02-03 06:36  296.0    NaN
2018-02-04 02:36   59.0    NaN
2018-02-04 06:36  321.0    NaN
2018-02-07 07:51  281.0    NaN
2018-02-07 16:36   86.0    NaN
2018-02-08 03:51   24.0    NaN
2018-02-08 07:51  165.0    NaN
2018-02-09 06:36   57.0    NaN
2018-02-09 07:51  183.0    NaN
2018-02-10 06:36  227.0    NaN
2018-02-11 06:36  172.0    NaN
2018-02-11 07:23   35.0    NaN
2018-02-11 15:36   76.0    NaN
2018-02-14 07:51  183.0    NaN
2018-02-15 06:36   31.0    NaN
2018-02-15 07:51  186.0    NaN
2018-02-16 06:36   48.0    NaN
2018-02-16 07:51  235.0    NaN
2018-02-17 06:36  223.0    NaN
2018-02-18 06:36  153.0    NaN
2018-02-18 08:36   43.0    NaN
2018-02-21 07:51  165.0    NaN
2018-02-21 13:36   32.0    NaN
2018-02-22 03:36    NaN   51.0
2018-02-22 06:36    NaN   16.0
2018-02-22 07:51    NaN  108.0
2018-02-23 02:36    NaN   13.0
2018-02-23 03:36    NaN   35.0
2018-02-23 06:36    NaN   30.0
2018-02-23 07:51    NaN  104.0
2018-02-23 08:36    NaN   20.0
2018-02-23 12:36    NaN   18.0
2018-02-24 06:36    NaN  212.0
2018-02-24 15:36    NaN   33.0
2018-02-25 02:36    NaN   16.0
2018-02-25 06:36    NaN  200.0
2018-02-25 06:51    NaN   12.0
2018-02-25 12:36    NaN   14.0
2018-02-25 15:36   31.0   14.0
2018-03-07 03:36    NaN   56.0
2018-03-07 07:51    NaN  158.0
2018-03-07 15:36    NaN   11.0
2018-03-08 06:36    NaN   15.0
2018-03-08 07:51    NaN  171.0
2018-03-08 11:06    NaN   13.0
2018-03-08 15:36    NaN   17.0
2018-03-09 06:36    NaN  119.0
2018-03-09 07:51    NaN  105.0
2018-03-09 15:36    NaN   20.0
2018-03-10 06:36    NaN   89.0
2018-03-10 07:51    NaN   14.0
2018-03-10 14:36    NaN   13.0
2018-03-11 13:36    NaN   52.0

In [15]:
print("Количество уникальных в трейне: ", data_train['Дата обращения'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Дата обращения'].value_counts().shape[0])
date_of_application = pd.DataFrame({"Train": data_train['Дата обращения'].value_counts().head(30), "Test": data_test['Дата обращения'].value_counts().head(30)})
date_of_application

Количество уникальных в трейне:  7876
Количество уникальных в тесте:  3676

                  Train  Test
2018-01-26 08:55   12.0   NaN
2018-01-27 08:42   10.0   NaN
2018-01-27 08:52   12.0   NaN
2018-01-28 08:37   10.0   NaN
2018-01-28 08:49   71.0   NaN
2018-01-28 09:52   21.0   NaN
2018-01-31 05:21   13.0   NaN
2018-01-31 09:24   12.0   NaN
2018-02-01 10:40   14.0   NaN
2018-02-01 12:08   12.0   NaN
2018-02-01 13:41   18.0   NaN
2018-02-02 02:10   22.0   NaN
2018-02-02 04:24   14.0   NaN
2018-02-02 04:36   10.0   NaN
2018-02-02 07:56   10.0   NaN
2018-02-02 08:07   10.0   NaN
2018-02-03 02:39   20.0   NaN
2018-02-04 02:55   79.0   NaN
2018-02-04 08:26   14.0   NaN
2018-02-04 08:40   16.0   NaN
2018-02-08 07:25   65.0   NaN
2018-02-08 09:26   10.0   NaN
2018-02-11 01:51   10.0   NaN
2018-02-11 05:52   18.0   NaN
2018-02-14 12:12   11.0   NaN
2018-02-15 06:39   13.0   NaN
2018-02-15 14:27   10.0   NaN
2018-02-15 14:32   10.0   NaN
2018-02-15 14:33   10.0   NaN
2018-02-16 09:10   14.0   NaN
2018-02-17 07:38    NaN   7.0
2018-02-17 12:24    NaN   9.0
2018-02-17 14:08    NaN   7.0
2018-02-18 01:39    NaN   9.0
2018-02-18 02:08    NaN   8.0
2018-02-18 06:51    NaN   7.0
2018-02-18 11:24    NaN   7.0
2018-02-21 03:24    NaN  19.0
2018-02-21 09:41    NaN   8.0
2018-02-21 10:57    NaN   8.0
2018-02-21 13:56    NaN   8.0
2018-02-21 15:34    NaN   7.0
2018-02-22 08:22    NaN   8.0
2018-02-22 12:33    NaN   7.0
2018-02-23 01:07    NaN   7.0
2018-02-23 06:52    NaN  13.0
2018-02-23 09:32    NaN  10.0
2018-02-23 09:34    NaN  12.0
2018-02-23 11:26    NaN   6.0
2018-02-23 11:36    NaN   7.0
2018-02-24 00:22    NaN  14.0
2018-02-24 00:29    NaN  17.0
2018-02-24 03:26    NaN  12.0
2018-02-24 09:33    NaN   7.0
2018-02-24 09:55    NaN  13.0
2018-02-25 10:48    NaN   7.0
2018-02-25 10:50    NaN   6.0
2018-02-25 13:16    NaN   7.0
2018-02-25 14:40    NaN  11.0
2018-02-25 14:41    NaN   7.0

In [16]:
print("Количество уникальных в трейне: ", data_train['Тип обращения на момент подачи'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Тип обращения на момент подачи'].value_counts().shape[0])
type_request_at_time  = pd.DataFrame({"Train": data_train['Тип обращения на момент подачи'].value_counts().head(30), "Test": data_test['Тип обращения на момент подачи'].value_counts().head(30)})
type_request_at_time

Количество уникальных в трейне:  2
Количество уникальных в тесте:  2

          Train  Test
Запрос    14320  5914
Инцидент    483   430

In [17]:
print("Количество уникальных в трейне: ", data_train['Решение             '].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Решение             '].value_counts().shape[0])
solution  = pd.DataFrame({"Train": data_train['Решение             '].value_counts().head(30), "Test": data_test['Решение             '].value_counts().head(30)})
solution

Количество уникальных в трейне:  1685
Количество уникальных в тесте:  953

                                                     Train    Test
 Выполнена разблокировка УЗ Ne_boSS\ ********  ...    81.0     NaN
 Выполнена разблокировка учетной записи Ne_boss...   105.0    79.0
 Личность пользователя идентифицирована\nПричин...   353.0   200.0
Выполнена загрузка разделителей согласно вложен...     NaN    65.0
Выполнена разблокировка у/з Ne_bosS\*********\n...   146.0    46.0
Выполнено                                            900.0   297.0
Выполнено.                                           354.0    74.0
Добрый день!\nВ текущем релизе Система18 реализ...   148.0    41.0
Добрый день. Контрагент добавлен в справочник П...   104.0     NaN
Добрый день. Создана новая редакция договора дл...     NaN    39.0
Доступ предоставлен                                  236.0   115.0
Доступ предоставлен в соответствии с заявкой.         72.0    43.0
Доступ предоставлен согласно заявке                  123.0    39.0
Запрос отменён пользователем из портала самообс...   377.0   137.0
Заявка выполнена                                     120.0     NaN
Заявка загружена в Система22                         134.0   103.0
Информация доведена                                   67.0    70.0
Исполнено                                             73.0    36.0
Исполнено.                                            74.0     NaN
КПУ настроен согласно заявки                           NaN    47.0
Клиент проинформирован по эл. почте                   71.0    42.0
Необходимые настройки/подключения выполнены.           NaN    43.0
Отчеты о регистрации загружены. \nЗамедления бы...     NaN    35.0
Пользователь проинформирован о внесённом сопров...    70.0     NaN
Пользователю предоставлен доступ согласно заявк...    68.0     NaN
Поток *************** работает штатно                 96.0     NaN
Права предоставлены.                                 182.0   116.0
Права прекращены.                                     69.0     NaN
Работы выполнены.                                     69.0     NaN
Работы по обращению выполнены                       3486.0  1419.0
Работы по обращению выполнены.                       734.0   285.0
Разблокирована УЗ NE_BOSS\**********. Пользоват...    87.0     NaN
Разделители загружены успешно                          NaN    35.0
Решен                                                  NaN    34.0
Самовосстановление                                    91.0     NaN
Сбой на стороне Система52. \nИнформацию о рег.н...     NaN   183.0
Сертификат-файл зарегистрирован                      144.0    41.0
Файл разделителя загружен                              NaN   110.0
Файл с разделителями загружен                          NaN    60.0
выполнено                                            677.0   109.0
проинф у.о.                                            NaN    42.0

In [18]:
print("Количество уникальных в трейне: ", data_train['Тип переклассификации'].value_counts().shape[0],
      "\nКоличество уникальных в тесте: ", data_test['Тип обращения итоговый'].value_counts().shape[0])
targets = pd.DataFrame({"Train": data_train['Тип переклассификации'].value_counts().head(30), "Test": data_train['Тип обращения итоговый'].value_counts().head(30)})
targets

Количество уникальных в трейне:  3
Количество уникальных в тесте:  0

            Train     Test
0         14445.0      NaN
1           140.0      NaN
2           218.0      NaN
Запрос        NaN  14398.0
Инцидент      NaN    405.0

# CatBoost Baseline

In [9]:
data_train.shape

(14803, 17)

In [10]:
data_train.columns

Index(['Содержание', 'Сервис', 'Приоритет', 'Статус', 'Функциональная группа',
       'Крайний срок', 'Дата обращения', 'Тип обращения на момент подачи',
       'Тип обращения итоговый', 'Решение             ',
       'Тип переклассификации', 'Дата восстановления',
       'Дата закрытия обращения', 'Критичность', 'Влияние', 'Система',
       'Место'],
      dtype='object')

In [11]:
date_columns = ['Крайний срок', 'Дата обращения', 'Дата закрытия обращения', 'Дата восстановления']
data_train[['Крайний срок', 'Дата обращения', 'Дата закрытия обращения']]

           Крайний срок    Дата обращения Дата закрытия обращения
0      2018-01-24 07:42  2018-01-19 09:27        2018-01-19 09:43
1      2018-01-24 10:51  2018-01-19 09:36        2018-01-19 09:41
2      2018-01-31 07:51  2018-01-25 22:47        2018-02-02 07:52
3      2018-01-28 05:50  2018-01-25 23:13        2018-01-26 00:00
4      2018-02-03 02:51  2018-01-25 23:39        2018-02-04 07:53
...                 ...               ...                     ...
14798  2018-02-21 14:17  2018-02-16 13:02        2018-02-23 14:18
14799  2018-02-21 14:36  2018-02-16 13:07        2018-03-07 13:22
14800  2018-02-21 14:23  2018-02-16 13:08        2018-03-07 08:46
14801  2018-02-21 14:24  2018-02-16 13:09        2018-02-24 11:22
14802  2018-02-18 13:10  2018-02-16 13:10        2018-02-23 12:29

[14803 rows x 3 columns]

In [12]:
data_train = data_train.drop(columns=date_columns).dropna()

In [13]:
data_train.columns

Index(['Содержание', 'Сервис', 'Приоритет', 'Статус', 'Функциональная группа',
       'Тип обращения на момент подачи', 'Тип обращения итоговый',
       'Решение             ', 'Тип переклассификации', 'Критичность',
       'Влияние', 'Система', 'Место'],
      dtype='object')

In [14]:
target_columns = ['Тип переклассификации', 'Тип обращения итоговый']
X_train, X_valid, y_train, y_valid = train_test_split(data_train.drop(columns=target_columns), data_train['Тип обращения итоговый'], test_size=0.2, random_state=17)
X_train.shape, X_valid.shape

((11841, 11), (2961, 11))

In [15]:
X_train.dtypes

Содержание                        object
Сервис                            object
Приоритет                         object
Статус                            object
Функциональная группа             object
Тип обращения на момент подачи    object
Решение                           object
Критичность                       object
Влияние                           object
Система                           object
Место                             object
dtype: object

In [16]:
X_train.isna().sum()

Содержание                        0
Сервис                            0
Приоритет                         0
Статус                            0
Функциональная группа             0
Тип обращения на момент подачи    0
Решение                           0
Критичность                       0
Влияние                           0
Система                           0
Место                             0
dtype: int64

In [18]:
cat_cols = list(X_train.columns)

In [23]:
from catboost import Pool, cv, CatBoostClassifier

model = CatBoostClassifier(
    random_seed=63,
    loss_function='Logloss',
    iterations=1000,
    learning_rate=0.05,
    task_type='CPU',
    eval_metric='F1',
)

model.fit(
    Pool(data=X_train, label=y_train, cat_features=cat_cols),
    verbose=50,
    eval_set=Pool(data=X_valid, label=y_valid, cat_features=cat_cols),
    plot=True
)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

0:	learn: 0.6091205	test: 0.5966851	best: 0.5966851 (0)	total: 92.1ms	remaining: 1m 31s
50:	learn: 0.8037736	test: 0.7647059	best: 0.7647059 (50)	total: 1.44s	remaining: 26.7s
100:	learn: 0.8664260	test: 0.7954545	best: 0.7954545 (97)	total: 2.8s	remaining: 25s
150:	learn: 0.8861210	test: 0.8068182	best: 0.8068182 (121)	total: 4.33s	remaining: 24.3s
200:	learn: 0.8936170	test: 0.8000000	best: 0.8068182 (121)	total: 5.85s	remaining: 23.3s
250:	learn: 0.9087719	test: 0.7885714	best: 0.8068182 (121)	total: 7.45s	remaining: 22.2s
300:	learn: 0.9198606	test: 0.7816092	best: 0.8068182 (121)	total: 8.92s	remaining: 20.7s
350:	learn: 0.9342561	test: 0.7909605	best: 0.8068182 (121)	total: 10.4s	remaining: 19.3s
400:	learn: 0.9433962	test: 0.7840909	best: 0.8068182 (121)	total: 12s	remaining: 17.9s
450:	learn: 0.9452055	test: 0.7796610	best: 0.8068182 (121)	total: 13.4s	remaining: 16.4s
500:	learn: 0.9523810	test: 0.7709497	best: 0.8068182 (121)	total: 15.2s	remaining: 15.1s
550:	learn: 0.9576988	test: 0.7734807	best: 0.8068182 (121)	total: 16.7s	remaining: 13.6s
600:	learn: 0.9612142	test: 0.7802198	best: 0.8068182 (121)	total: 18.1s	remaining: 12s
650:	learn: 0.9612142	test: 0.8021978	best: 0.8068182 (121)	total: 19.6s	remaining: 10.5s
700:	learn: 0.9681742	test: 0.7912088	best: 0.8068182 (121)	total: 21s	remaining: 8.96s
750:	learn: 0.9681742	test: 0.8021978	best: 0.8068182 (121)	total: 22.6s	remaining: 7.48s
800:	learn: 0.9731544	test: 0.8021978	best: 0.8087432 (796)	total: 24.2s	remaining: 6s
850:	learn: 0.9782972	test: 0.8021978	best: 0.8131868 (843)	total: 25.8s	remaining: 4.52s
900:	learn: 0.9800000	test: 0.7934783	best: 0.8131868 (843)	total: 27.4s	remaining: 3.01s
950:	learn: 0.9816972	test: 0.7868852	best: 0.8131868 (843)	total: 28.8s	remaining: 1.49s
999:	learn: 0.9816972	test: 0.7978142	best: 0.8131868 (843)	total: 30.3s	remaining: 0us

bestTest = 0.8131868132
bestIteration = 843

Shrink model to first 844 iterations.